<%- include partial/head.ejs %>
<%- include partial/nav.ejs %>
<body onLoad="initialCache(); load_user(<%= title %>)">
<div class="h-100 container">

    <div id="test"></div>


</div>
</body>
<%- include partial/foot.ejs %>