<%- include partial/head.ejs %>
<%- include partial/nav.ejs %>
<body onLoad="initialCache()" class="splash-bg">
    <div class="h-100 container">
        <div class="h-100 d-flex flex-row row">
            <div class="col-sm-12 d-flex">
                <div class="m-auto">
                    <div class="px-5 py-2 card bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Sign In!</h5>
                            <form>

                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Username *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Email *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Your Password *" value="" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Repeat Password *" value="" />
                                    </div>
                                <button type="submit" class="btn btn-primary mb-2">Sign Up</button>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include partial/foot.ejs %>